trigger:
- main

jobs:
  - job: chrome
    pool:
      vmImage: ubuntu-latest
    steps:
    - template: azure/node-setup.yml

    - script: npm run test:chrome:headless
      displayName: 'Run TestCafe tests on headless Chrome'
      env:
        TEAMYAP_ADMIN_EMAIL: $(TEAMYAP_ADMIN_EMAIL)
        TEAMYAP_ADMIN_PASSWORD: $(TEAMYAP_ADMIN_PASSWORD)
        TEAMYAP_ADMIN_NAME: $(TEAMYAP_ADMIN_NAME)
        TEAMYAP_USER_EMAIL: $(TEAMYAP_USER_EMAIL)
        TEAMYAP_USER_PASSWORD: $(TEAMYAP_USER_PASSWORD)

  - job: firefox
    pool:
      vmImage: ubuntu-latest
    dependsOn: chrome
    steps:
    - template: azure/node-setup.yml

    - script: npm run test:firefox:headless
      displayName: 'Run TestCafe tests on headless Firefox'
      env:
        TEAMYAP_ADMIN_EMAIL: $(TEAMYAP_ADMIN_EMAIL)
        TEAMYAP_ADMIN_PASSWORD: $(TEAMYAP_ADMIN_PASSWORD)
        TEAMYAP_ADMIN_NAME: $(TEAMYAP_ADMIN_NAME)
        TEAMYAP_USER_EMAIL: $(TEAMYAP_USER_EMAIL)
        TEAMYAP_USER_PASSWORD: $(TEAMYAP_USER_PASSWORD)
